/* body{
  /* font-family: 'Montserrat', sans-serif;
} helloekbaar*/
#title{
  background-color: #ff4c68;
  color: white;
}
h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  margin-top: 20px;
}
h2{
  font-family: 'Montserrat';
  font-size: 3rem;
  line-height: 1.5;
}
.title-img{
  width: 60%;
  position: absolute;
  /* z-index: -1; */
  /* margin: 0 0 0 100px; */
  right: 30%;
  transform: rotate(25deg);
}
/* .title-right{
  margin-bottom: 40px;
} */
.container-fluid{
  padding: 3% 15% 7%;
}
.navbar{
  padding-bottom: 60px;
  padding-left: 0;
}
.navbar-brand{
  font-size: 2.4rem;
  font-family: 'Ubuntu',sans-serif;
}
.nav-item{
  padding: 0 3px 0;
}

.nav-link{
  font-family: 'Montserrat';
  font-size: 1rem;
}

/* feature section */
h3{
  font-size: 1.3rem;
  font-family: 'Montserrat',sans-serif;

}
#features{
  background-color: #fff;
  position: relative;
  padding: 7% 15%;

}
.feature-box{
  text-align: center;
  padding: 5%;
}
.feature-icon{
  padding-bottom: 1rem;
  color: #ef8172;
}
.feature-icon:hover{
  color: #ff4c68;
}

/* testimonial */

#testimonials{
  /* padding: 7% 15%; */
  background-color: #ef8172;
  text-align: center;
  color: #fff;
}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}
.carousel-item{
  padding: 7% 15%;
}

/* pricing */

#pricing{
  padding: 100px;
  text-align: center;
}
.pricing-column{
  padding: 3% 2%;
}

/* call to action */

#cta{
  background-color: #ef8172;
  padding: 7% 15%;
  text-align: center;
}
.cta-button{
  margin-top: 100px;
  margin-right: 30px;
}
.fab{
  margin-right: 10px;
}

/* footer section */

#footer{
  padding: 7% 15%;
  text-align: center;
}
.social-icon{
  margin: 20px 10px;
}
@media (max-width: 1028px){
  #title{
    text-align: center;
  }
  .title-img{
    position: static;
    transform: rotate(0);
  }
  .title-right{
    margin-bottom: 30px;
  }
}
